<div class="centered-content">
    <div class="modal-box has-back">
      <h1 class="title">
        Create a new task
      </h1>
      <input #tastTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter task name...">
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/">Cancel</button>
        <button class="button is-primary is-medium" (click)="createNewTask(tastTitleInput.value)">Create</button>
      </div>
    </div>
  </div>