<section class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar  has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>
      <ul class="list-menu">
        <li class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists',list._id]" routerLinkActive="active">{{list.title}}</li>
      </ul>
      <button class="button is-primary has-text-white" routerLink="/new-list">
        + New List
      </button>
    </div>
    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
      </h1>
      <ul class="list-menu">
        <li class="task" *ngFor="let task of tasks">{{task.title}}</li>
      </ul>

      <button class="circle-add-button button is-primary">
        <img src="../../../assets/plus.svg" alt="" srcset="">
      </button>

    </div>
  </div>
</section>