<section class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar  has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>
      <ul class="list-menu">
        <li class="list-menu-item"><p>List 1</p></li>
        <li class="list-menu-item active">List 2</li>

      </ul>
      <button class="button is-primary has-text-white" (click)="createNewList()">
        + New List
      </button>
    </div>
    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
      </h1>
      <ul  class="list-menu">
        <li class="task complete">item1</li>
        <li class="task">item1</li>
        <li class="task complete">item3eeeeeeeeeeeeeeeeeeee e3333333333 jioehwfiowehf whfoiwehfiowehfiowehf whfoiwehfoiwehfoiwe fhwioefhwoeifhwoiehfoiw iefhoishgoisdg g ioshgiosyg spgus9pgys9pdg usdpug9psodug p9sdo9ug90sdopugop dsug 90sdugosud  gu9-ds ug90sdg-usd9- gus-d gu0-9sdu 9-gus0d1</li>
        <li class="task ">item1</li>
        <li class="task ">item1</li>
        <!-- <li class="task ">item1</li>
        <li class="task ">item1</li>
        <li class="task ">item1</li>
        <li class="task ">item1</li>
        <li class="task ">item1</li>
        <li class="task ">item1</li>
        <li class="task ">item1</li> -->

      </ul>
    </div>
  </div>
</section>