<section class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar  has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>
      <ul class="list-menu">
        <li class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists',list._id]" routerLinkActive="active">{{list.title}}</li>
      </ul>
      <button class="button is-primary has-text-white" routerLink="/new-list">
        + New List
      </button>
    </div>
    <div class="task-list-container has-background-light">
      <div *ngIf="tasks">
        <h1 class="title has-text-primary">
          Tasks
        </h1>
        <ul class="list-menu">
          <li class="task" *ngFor="let task of tasks" (click)="onTaskClicked(task)" [ngClass]="{'completed':task.completed}">{{task.title}}</li>
        </ul>

        <h3 class="empty-state-text" *ngIf="tasks.length===0">There are no tasks here Click the add button to create new task.</h3>

        <button routerLink="./new-task" class="circle-add-button button is-primary">
          <img src="../../../assets/plus.svg">
        </button>
      </div>

      <div *ngIf="!tasks">
        <h3 class="empty-state-text">Please select a list from the sidebar</h3>
      </div>
    </div>
  </div>
</section>